 
 .dim{
    opacity: 0.1555;
  }

  .floatRight {
    float:right;
    padding-right: 500px;
    padding-top: 50px;
  }

  .floatLeft {
    float: left
  }

  .price{
    font: 40px Arial, sans-serif; 
  }

  .ppgLabel{
    font: 50px Arial, sans-serif; 
  }

  